@import "tailwindcss";

@theme {
  --color-brand-primary: rgba(201, 156, 255, 1);
  --color-brand-secondary: rgba(242, 195, 67, 1);
  --color-brand-turquoise: rgba(131, 240, 255, 1);
  --color-gray-300: rgba(19, 19, 19, 1);
  --color-gray-400: rgba(30, 30, 30, 1);
  --color-gray-500: rgba(51, 51, 51, 1);
  --color-gray-600: rgba(77, 77, 77, 1);
  --color-gray-900: rgba(153, 153, 153, 1);
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
  background: #000;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

.list-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(30, 30, 30, 1) transparent;
}

.list-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.list-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.list-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgba(30, 30, 30, 1);
}
